<div id='create-todo'>
  <h2><ion-icon name='create-outline'></ion-icon>Neues Todo erstellen</h2>
  <button id='backButton' type='button'>Zurück</button>
  <form id='todo-form'>
    <input
      type='text'
      id='todo-name'
      placeholder='Todo Name'
      required
      minlength='10'
    />
    <input type='text' id='todo-description' placeholder='Todo Description' />
    <input type='date' title='datum' id='todo-due-date' required />
    <select title='Wichtigkeit' id='todo-importance' required>
      <option value='1'>Niedrig</option>
      <option value='2'>Mittel</option>
      <option value='3'>Hoch</option>
    </select>

    <button id='saveButton' type='submit' data-action='save'>Erstellen</button>
    <button id='saveAndBackButton' type='submit' data-action='saveAndBack'>
      Erstellen & Zurück
    </button>
  </form>
</div>