<header>
  <h1><ion-icon name='layers-outline'></ion-icon>SimpleDo</h1>
  <h2>Die einfache Notitzapp</h2>
  <div class='loginActions'>
    <button
      id='loginButton'
      type='button'
      class='btn btn-primary js-non-user'
    >Login</button>
    <button
      id='logoutButton'
      type='button'
      class='btn btn-primary js-user'
    >Logout</button>
  </div>
</header>