<div id="create-todo">
  <h2>Neues Todo erstellen</h2>
  <button id="btnBack" type="button">Zurück</button>
  <form id="todo-form">
    <input type="text" id="todo-name" placeholder="Todo Name" />
    <input type="text" id="todo-description" placeholder="Todo Description" />
    <input type="date" title="datum" id="todo-due-date" />
    <select title="Wichtigkeit" id="todo-importance">
      <option value="1">Low</option>
      <option value="2">Medium</option>
      <option value="3">High</option>
    </select>

    <button id="btnSave" type="submit">Speichern</button>
  </form>
</div>
