:root {
  --background-color: #f2f2f2;
  --text-color: #232830;
  --border-color: #fff0;
  --color: white;
  --gunmetal: #19323cff;
  --holy-blue: #19323cff;
  --holy-blue-lighter: #11426b;
  --healty-green: #4caf50;
}

.dark-mode {
  --background-color: #222;
  --color: #232830;
  --text-color: white;
  --border-color: #4b6997;
  --gunmetal: #415070;
  --holy-blue: #19323cff;
  --holy-blue-lighter: #11426b;
  --healty-green: #4caf50;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin-bottom: 50px;
  background-color: var(--background-color);
}

header {
  background-color: #2d3340;
  color: white;
  padding: 20px;
}

header h1 {
  font-size: 36px;
}

header h2 {
  font-size: 24px;
  font-style: italic;
}

footer {
  background-color: #2d3340;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  font-size: 14px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  background-color: var(--gunmetal);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--gunmetal);
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primary ion-icon {
  margin-right: 10px;
  font-size: 20px;
}

.btn:hover {
  background-color: var(--holy-blue);
}

.btn-primary:hover {
  background-color: var(--holy-blue-lighter);
}

.actions button,
.sortButtons button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sortButtons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.no-todos-found {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-color: var(--color);

  border: var(--border-color) 1px solid;
  border-radius: 5px;
  margin-top: 20px;
}

.no-todos-found ion-icon {
  font-size: 48px;
  color: #e74c3c;
}

.no-todos-found p {
  margin-top: 10px;
  font-size: 18px;
  color: var(--text-color);
}

.todo {
  background-color: var(--color);
  color: var(--text-color);
  border: var(--border-color) 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
}

.todo > * {
  margin-bottom: 10px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todo-title {
  font-size: 20px;
  font-weight: bold;
}

.todo-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.todo-details > * {
  margin-bottom: 5px;
}

.todo-description {
  font-size: 14px;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
}

.todo-actions .status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-status-button {
  background-color: var(--healty-green);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.todo-status-button.not-done {
  background-color: var(--gunmetal);
}

.todo-status-button:hover {
  background-color: #45a049;
}

.todo-edit-button {
  background-color: var(--gunmetal);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.todo-edit-button:hover {
  background-color: var(--holy-blue-lighter);
}

#create-todo {
  background-color: var(--color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

#create-todo h2 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#create-todo button#backButton {
  background-color: var(--gunmetal);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

#create-todo form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

#create-todo input {
  color: var(--text-color);
  background-color: var(--color);
}

#create-todo input,
#create-todo select {
  color: var(--text-color);
  background-color: var(--color);
  padding: 10px;
  border: 1px solid var(--gunmetal);
  border-radius: 5px;
}

#create-todo input[type='date'] {
  appearance: none;
}

#create-todo button[type='submit'] {
  background-color: var(--gunmetal);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.todo-importance {
  width: -moz-fit-content;
  width: fit-content;

  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.todo-importance.Gering {
  background-color: #28a745;
  color: white;
}

.todo-importance.Mittel {
  background-color: #ffc107;
  color: #212529;
}

.todo-importance.Hoch {
  background-color: #dc3545;
  color: white;
}
